OPENSEA_API_KEY=PUT_YOUR_OPENSEA_API_KEY_HERE

ALCHEMY_API_KEY=PUT_YOUR_ALCHEMY_API_KEY_HERE
ENABLED_CHAINS=ethereum,ink,robinhood

TELEGRAM_BOT_TOKEN=PUT_YOUR_BOTFATHER_TOKEN_HERE
TELEGRAM_ALLOWED_CHAT_IDS=PUT_YOUR_TELEGRAM_CHAT_ID_HERE
TELEGRAM_ALLOW_ANY_CHAT=false

WALLET_ENCRYPTION_KEY=PUT_GENERATED_FERNET_KEY_HERE

DISPLAY_TIMEZONE=Asia/Aden

QUANTITY=1
MAX_PARALLEL_WALLETS=10

ALLOW_PAID_MINTS=true
MAX_MINT_PRICE_NATIVE=0
MAX_GAS_NATIVE=0
MAX_TOTAL_NATIVE=0

GAS_STRATEGY=fast
GAS_LIMIT_BUFFER=1.15

RPC_TIMEOUT=5
RPC_BROADCAST_WORKERS=4

STAGE_REFRESH_SECONDS=20
FAST_STAGE_REFRESH_SECONDS=3
FAST_REFRESH_WINDOW=120
PREOPEN_PROBE_SECONDS=1.5
OPEN_RETRY_INTERVAL=0.30
MONITOR_RETRY_INTERVAL=2
ELIGIBILITY_RETRY_SECONDS=10
RATE_LIMIT_RETRY_SECONDS=5
RECEIPT_CHECK_SECONDS=5
DROP_LIMIT=25

START_PAUSED=false

HTTP_TIMEOUT=7
LOG_LEVEL=INFO
